# Jordan Notebook - Peach Tree Analytics

- Author: [Jordan](https://github.com/JfromNWMS/)
- Repository: [pro-analytics-01](https://github.com/JfromNWMS/pro-analytics-01)

In [1]:
from scipy.stats import shapiro
import pandas as pd
from pingouin import qqplot
import matplotlib.pyplot as plt
from get_csv import fetch_csv_file

2025-05-20 12:10:40.352 | INFO     | utils_logger:<module>:32 - Log folder created at: logs
2025-05-20 12:10:40.353 | INFO     | utils_logger:<module>:39 - Logging to file: logs\project_log.log

In [2]:
fetch_csv_file('data','mtcars.csv','https://raw.githubusercontent.com/araastat/BIOF085/master/data/mtcars.csv')

2025-05-20 12:10:40.358 | INFO     | get_csv:fetch_csv_file:56 - Fetching CSV data from https://raw.githubusercontent.com/araastat/BIOF085/master/data/mtcars.csv...
2025-05-20 12:10:40.575 | INFO     | get_csv:write_csv_file:80 - Writing CSV data to data\mtcars.csv...
2025-05-20 12:10:40.576 | INFO     | get_csv:write_csv_file:84 - SUCCESS: CSV data written to data\mtcars.csv
2025-05-20 12:10:40.577 | INFO     | get_csv:fetch_csv_file:60 - SUCCESS: CSV file fetched and saved as mtcars.csv

In [3]:
mtcars = pd.read_csv('data/mtcars.csv', index_col=0)

mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
make,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
mtcars.iloc[0,0]

np.float64(21.0)

In [5]:
mtcars.index.to_list()

['Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Fiat 128',
 'Honda Civic',
 'Toyota Corolla',
 'Toyota Corona',
 'Dodge Challenger',
 'AMC Javelin',
 'Camaro Z28',
 'Pontiac Firebird',
 'Fiat X1-9',
 'Porsche 914-2',
 'Lotus Europa',
 'Ford Pantera L',
 'Ferrari Dino',
 'Maserati Bora',
 'Volvo 142E']